---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { sortItemsByDateDesc } from '../../utils/data-utils';
import { locales } from '../../i18n';
import siteConfig from '../../data/site-config';
import PostNavigation from '../../components/PostNavigation.astro';

const i18n = locales[siteConfig.locale];

export async function getStaticPaths() {
    const projects = (await getCollection('projects')).sort(sortItemsByDateDesc);
    const projectCount = projects.length;
    return projects.map((project, index) => ({
        params: { id: project.id },
        props: {
            project,
            prevProject: index + 1 !== projectCount ? projects[index + 1] : null,
            nextProject: index !== 0 ? projects[index - 1] : null
        }
    }));
}

type Props = { project: CollectionEntry<'projects'>; prevProject: CollectionEntry<'projects'>; nextProject: CollectionEntry<'projects'> };

const { project, prevProject, nextProject } = Astro.props;
const { title, description, seo } = project.data;
const { Content } = await render(project);
---

<BaseLayout title={seo?.title ?? title} description={seo?.description ?? description} image={seo?.image} pageType="article" showHeader={false}>
    <article class="mb-16 sm:mb-24">
        <header class="mb-8">
            <h1 class="mb-12 text-2xl leading-tight font-serif font-bold sm:mb-16 sm:text-4xl">{title}</h1>
        </header>
        <div class="max-w-none prose prose-dante sm:prose-lg">
            <Content />
        </div>
    </article>
    <PostNavigation
        prevItem={prevProject}
        nextItem={nextProject}
        prevLabel={i18n.pages.projects.prevProject}
        nextLabel={i18n.pages.projects.nextProject}
        basePath="projects"
    />
</BaseLayout>
